.container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	color: black;
	width: 100%;
	height: 100%;
}

.grey {
	background-color: grey;
	color: white;
}
